@page "/vehiculos";
@using Data.Models;

<PageTitle>Regstro para vehiculos</PageTitle>
<h1>Registra un vehiculo</h1>
<br>
<h3>Tipo de vehiculo</h3>
<input type="text" @bind=vehiculoID>
<br>
<h3>Marca</h3>
<input type="text" @bind=Marca>
<br>
<h3>Modelo</h3>
<input type="text" @bind=Modelo>
<br>
<h3>Año</h3>
<input type="text" @bind=Año>
<br>
<h3>Color</h3>
<input type="text" @bind=Color>
