@page "/vehiculos";
@using Vehiculos20200904.Data.Models;

<PageTitle>Regstro para vehiculos</PageTitle>
<h1>Registra un vehiculo</h1>
<br>
<h3>Tipo de vehiculo</h3>
<input type="text">
<br>
<h3>Marca</h3>
<input type="text">
<br>
<h3>Modelo</h3>
<input type="text">
<br>
<h3>Año</h3>
<input type="text">
<br>
<h3>Color</h3>
<input type="text">
<br>
<br>
<button>Agregar</button>
@code 
{

}